body
{
	margin: 0;
	padding: 0;
 
	font-family: sans-serif;
}
.Sign-Up{
	
	width: 500px;
	height: 550px;
	background: rgba(0, 0 , 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 55px 30px;
}
.logo{
	width: 100px;
	height: 100px;
 	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
 	text-align: center;
	font-size: 30px;
}
.Sign-Up p{
 	margin: 0;
	padding: 0;
 	font-weight: bold;
}
.Sign-Up input
{
	width: 100%;
	margin-bottom: 18px;
}
.Sign-Up input[type="text"]:hover,input[type="password"]
{
	border: none;
	border-bottom: 1px solid #zff;
	background: transparent;
 	outline: none;
	height: 20px;
 	color: #fff;
 	font-size: 15px;
background: #39dc79;
	
}
.Sign-Up input[type="submit"]{
	border: none;
	outline: none;
	height: 30px;
	background: #1c8adb;
	color: #fff;
	font-size: 20px;
	border-radius: 18px;
}
.Sign-Up input[type="submit"]:hover
{
	cursor: pointer;
	background: #39dc79;
	color: #000;
}
.Sign-Up a{
	text-decoration: none;
	font-size:  18px;
	color: #fff;
} 
 .Sign-Up a:hover 
{
	background: #39dc79;
} 
